.menu #assignmentsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu #assignmentsList .assignment-box {
  padding: 10px;
  background-color: rgb(158, 200, 185);
  border-radius: 5px;
}
.menu #assignmentsList .assignment-box:hover{
    background-color: rgba(158, 200, 185, 0.650);
    cursor: pointer;
}
.assignment-modal{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
.assignment-modal .assignment-modal-content{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}
.assignment-modal .assignment-modal-content .button{
    display: flex;
    justify-content: center;
    gap:  10px;
}
.assignment-modal .assignment-modal-content .button  button{
    background-color: rgb(158, 200, 185);
    border: none;
    border-radius: 3px;
    padding: 7.5px;
    transition: all ease 0.25s;
}
.assignment-modal .assignment-modal-content .button  button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .progress-bar-fill {
    height: 100%;
    border-radius: 10px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
  }
  
  .progress-text {
    margin-top: 5px;
    text-align: center;
  }
  
  @keyframes fillAnimation {
    from {
      width: 0;
    }
  }
  
  .assignments-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .assignment-column {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    background-color: #f9f9f9;
  }
  
  .assignment {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .assignment-column h2 {
    text-align: center;
  }
  
  .assignment-column:hover {
    background-color: #f0f0f0;
  }
  