.employee{
    padding: 3%;
    margin-left: 250px;
}
.employee-table {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.employee-table h1 {
    text-align: center;
}

.employee-table table {
    width: 100%;
    border-collapse: collapse;
}

.employee-table th, .employee-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.employee-table th {
    background-color: #f2f2f2;
}
.employee-table td:nth-child(5th){
    display: flex;
    gap: 10px;
}
.employee-table td button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(158, 200, 185);
    transition: ease 0.5s ;
    border: none;
} 

.employee-table td button:hover {
    background-color: rgb(158, 200, 185);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.employee-table .active {
    background-color: #555;
}
.modal-content{
    display: flex;
    flex-direction: column;
}
.modal-content input {
    padding: 10px;
}
